# Python
__pycache__/

# Virtual environment
venv/
env/

# IDE settings
.idea/
.vscode/

# Django static files (collected)
staticfiles/

# SQLite database (optional to ignore)
db.sqlite3

#static files
staticfiles/



# OS files
.DS_Store
Thumbs.db
