# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE settings
.idea/
.vscode/

# Django static files (collected)
staticfiles/

# SQLite database (optional to ignore)
db.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
